#navigationbar{
    flex-direction: column;
}
#navigationbar .logoimg {
    justify-content: center;
    align-items: center;
    position: relative;
    right: 60px;
}
/* .logoimg h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
#navigationbar ul li {
    margin: 1px auto;
    left: 440px;
}
#homepage .profileimg{
    left: 820px;
}
#aboutpage .text2{
    left: 250px;
}   
#aboutpage .aboutpages .text3{
    top: 100px;
    right: 100px;
    font-size: 10px;
}
#aboutpage .aboutpages #text4{
    font-size: 20px;
}
#aboutpage .aboutpages p{
    font-size: 15px;
    width: 350px;
}
#aboutskill .text5{
    left: 300px;
    top: -30px;
}
#aboutskill .aboutskills .text6 #text7{
  font-size: 25px;
  top: -400px;

}
#aboutskill .aboutskills .text6 p{
    font-size: 16px;
    left: 130px;
    top: -390px;

}
#text9{
    left: 300px;
}
#workpage .groups1{
    left: 150px;
    gap:10px;
}
#workpage .groups2{
    left: 150px;
    gap:10px;
}

#text10{
    left: 300px;
}
#contactpage .contactform{
   left: 300px;
}
#contactpage .contactform input, textarea{
    width: 80%;
}
#button2{
  left: 0px;
  width: 20%;

}
#footer{
    width: 180%;
}